<div>
<%if flash[:notice]%>
  <%= flash[:notice]%>
<%end%>
</div>

<p>
<div><%= link_to 'Voltar', promotions_path %></div>
</p>

<div>
Nome: <%= @promotion.name%> 
</div>
<span>Cadastrada por: <%=@promotion.user.email%></span>
<div>Descrição: <%= @promotion.description%></div>
<div>Porcentagem de desconto: <%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ','%></div>
<div>Código: <%= @promotion.code%></div>
<div>Data de expiração: <%= localize(@promotion.expiration_date)%></div>
<div>Quantidade de cupons: <%= @promotion.coupon_quantity%></div>
<%if @promotion.approved?%>
  <div>Status: Aprovada</div>
<%end%>
<div>
<%if @promotion.user != current_user%>
  <%=link_to 'Aprovar Promoção', approve_promotion_path, method: :post%>
<%end%>

<%= link_to 'Editar', edit_promotion_path(@promotion)%> 

<%=link_to 'Apagar', promotion_path(@promotion), method: :delete%>
</div>

<p>
<div><%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post%></div>
</p>

<%@promotion.coupons.each do |coupon|%>
  <div id="coupon-<%= coupon.id%>"><%=coupon.code%> 
  <%=  t(".#{coupon.status}")%>
  <%if coupon.active?%>
    <%= link_to 'Desativar cupom', inactivate_coupon_path(coupon), method: :post%>
  <%end%>
  </div>
<%end%>
