<div>
<%if flash[:notice]%>
  <%= flash[:notice]%>
<%end%>
</div>

<div><%= link_to 'Voltar', promotions_path %></div>

<div>Nome: <%= @promotion.name%></div>
<span>Cadastrada por: <%=@promotion.user.email%></span>
<div>Descrição: <%= @promotion.description%></div>
<div>Porcentagem de desconto: <%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ','%></div>
<div>Código: <%= @promotion.code%></div>
<div>Data de expiração: <%= localize(@promotion.expiration_date)%></div>
<div>Quantidade de cupons: <%= @promotion.coupon_quantity%></div>

<div><%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post%></div>

<%@promotion.coupons.each do |coupon|%>
  <div id="coupon-<%= coupon.id%>"><%=coupon.code%> 
  <%= "Cupom #{coupon.code} #{t(".#{coupon.status}")}"%>
  <%if coupon.active?%>
    <%= link_to 'Desativar cupom', inactivate_coupon_path(coupon), method: :post%>
  <%end%>
  </div>
<%end%>
